<div class="row m-0">
    <div class="col-7">
        <div class="title-container title-container-left">
            <div class="d-flex flex-row justify-content-between align-items-center mb-2">
                <div class="font-title-large">Receipts</div>
            </div>
        </div>
        <div class="table-container table-container-left disable-scrollbars">
            <table class="table table-striped table-hover giro-table">
                <thead>
                    <tr class="text-center">
                        <th><span class="font-title">ID</span></th>
                        <th><span class="font-title">Date</span></th>
                        <th><span class="font-title">Total Price</span></th>
                        <th><span class="font-title">Total Items</span></th>
                        <th><span class="font-title">Items</span></th>
                        <th class="col-actions">
                            <span class="font-title">Actions</span>
                        </th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let receipt of allTransaction"  class="pointer" (click)="openModalViewTransaction(view, receipt.id)">
                        <td class="ps-3">
                            <span class="font-data">{{receipt.id}}</span>
                        </td>
                        <td class="text-center">
                            <span class="font-data">{{receipt.date | date: 'MMM dd y | hh:mma'}}</span>
                        </td>
                        <td class="text-end">
                            <span class="font-data">{{receipt.totalPrice | currency: 'PHP'}}</span>
                        </td>
                        <td class="text-center">
                            <span class="font-data">{{receipt.totalQuantity}}</span>
                        </td>
                        <td class="text-center">
                            <span class="font-data">{{receipt.totalItems}}</span>
                        </td>
                        <td class="col-actions" (click)="$event.stopPropagation()">
                            <button class="btn btn-success ez-pill pt-1 ms-1"
                                (click)="addToPrintQueue(receipt)">
                                <span class="font-button">Add to Print Queue</span></button>
                        </td>
                    </tr>
                    <tr *ngIf="allTransaction.length == 0">
                        <td colspan="6" class="text-center table-empty">
                            <span class="font-title-large">No transactions to show</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

    <div class="col">
        <div class="title-container title-container-right m-0">
            <div class="d-flex flex-row justify-content-between align-items-center mb-2">
                <div class="font-title-large">Print Queue</div>
                <button *ngIf="printQueue.length > 0"
                class="d-flex btn btn-lg bg-red mt-2 px-4 ez-pill"
                (click)="clearPrintQueue()">
                    <span class="font-button-large">Clear</span>
                </button>
            </div>
        </div>
        <div class="table-container table-container-right disable-scrollbars">
            <table class="table table-striped table-hover giro-table">
                <thead>
                    <tr class="text-center">
                        <th><span class="font-title">ID</span></th>
                        <th><span class="font-title">Total Price</span></th>
                        <th><span class="font-title">Items</span></th>
                        <th class="col-actions"><span class="font-title">Actions</span></th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let reciept of printQueue" class="text-center">
                        <td class="pointer"><span class="font-data">{{reciept.id}}</span></td>
                        <td class="text-end"><span class="font-data">{{reciept.totalPrice | currency: 'PHP'}}</span></td>
                        <td class="text-center"><span class="font-data">{{reciept.totalItems}}</span></td>
                        <td>
                            <button class="btn bg-red ez-pill pt-1"
                            (click)="removeFromPrintQueue(reciept)">
                                <span class="font-button">Remove</span>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="printQueue.length == 0">
                        <td colspan="5" class="text-center table-empty">
                            <span class="font-title-large">Nothing in queue</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="printQueue.length > 0" class="d-flex flex-row justify-content-end">
                <button class="btn btn-lg bg-blue px-4 ez-pill"
                    (click)="onClickPrint()">
                    <span class="font-button-large">Print All</span>
                </button>
            </div>
        </div>
        
    </div>
</div>

<ng-template #view let-modal>
    <div class="table-container" id="viewTransaction">
        <div class="d-flex flex-row justify-content-center my-3">
            <div class="me-3">
                <span class="font-title">ID: </span> <span class="font-data-large">{{selectedTransaction.id}}</span>
            </div>
            <div class="">
                <span class="font-title">Date: </span> <span class="font-data-large">{{selectedTransaction.date | date: 'MMM dd y | hh:mma'}}</span>
            </div>
        </div>
        
        <table class="w-100 table-striped table-hover giro-table">
            <thead>
                <th><span class="font-title">Name</span></th>
                <th><span class="font-title">Price</span></th>
                <th><span class="font-title">Quantity</span></th>
                <th><span class="font-title">Total Price</span></th>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let item of selectedTransactionItemList">
                    <td><span class="font-data ps-3">{{item.name}}</span></td>
                    <td class="text-end"><span class="font-data">{{item.price  | currency: 'PHP'}}</span></td>
                    <td class="text-center"><span class="font-data">{{item.quantity}}</span></td>
                    <td class="text-end"><span class="font-data pe-3">{{item.totalPrice  | currency: 'PHP'}}</span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-end">
                        <span class="font-data-large">Total Price:</span> 
                    </td>
                    <td class="text-end">
                        <span class="font-data-large pe-3">{{selectedTransaction.totalPrice | currency: 'PHP'}}</span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="modal-footer border-0">
        <div class="d-flex flex-row">
            <button type="submit" form="addForm" class="btn btn-lg btn-secondary border-2 ms-4 me-2" 
                (click)="modal.dismiss()" ngbAutofocus>
                <span class="font-title-mnc">Dismiss</span>
            </button>
            <button class="btn btn-lg btn-danger ms-2 me-4" 
                (click)="openModalDeleteTransaction(delete, selectedTransaction.id)">
                <span class="font-title-m">Delete</span>
            </button>
        </div>
    </div>
</ng-template>

<ng-template #delete let-modal class="pb-5">
	<div class="modal-header bg-gray border-0">
	</div>
	<div class="modal-body bg-gray">
        <div class="d-flex flex-column text-center">
            <span class="font-title-large font-black">Delete Transaction</span>
            <span class="font-text font-black mb-5">
                Are you sure you want to 
                <span class="txt-red">delete this transaction</span>?
            </span>
            <div class="d-flex flex-row">
                <button type="submit" form="addForm" class="w-50 btn btn-lg btn-outline-success border-2 ms-4 me-2" 
                    (click)="modal.dismiss()" ngbAutofocus>
                    <span class="font-title-mnc">Cancel</span>
                </button>
                <button class="w-50 btn btn-lg btn-danger ms-2 me-4" 
                    (click)="onDeleteTransaction(selectedTransaction.id)">
                    <span class="font-title-m">Delete</span>
                </button>
            </div>
        </div>
	</div>
	<div class="modal-footer border-0 bg-gray">
	</div>
</ng-template>