<p>inventory-addmodal works!</p>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Add new inventory</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form #addForm="ngForm" (ngSubmit)="onAddInventory(addForm)" id="addForm">
            <div class="mb-3">
                <label for="item-name" class="form-label">Name</label>
                <input ngbAutofocus type="text" class="form-control" 
                    ngModel name="name" id="item-name">
              </div>
              <div class="mb-3">
                <label for="item-price" class="form-label">Price</label>
                <input type="number" class="form-control" 
                    ngModel name="price" id="item-price">
              </div>
              <div class="mb-3">
                <label for="item-price" class="form-label">Quantity</label>
                <input type="number" class="form-control" 
                    ngModel name="quantity" id="item-quantity">
              </div>
              <div class="mb-3">
                <label for="item-price" class="form-label">Description</label>
                <textarea class="form-control" placeholder="Leave a comment here" 
                    ngModel name="description" id="item-description">
                </textarea>
              </div>
		</form>
	</div>
	<div class="modal-footer">
		<button [disabled]="addForm.invalid" type="submit" form="addForm" class="btn btn-lg btn-outline-success" 
            (click)="modal.close('Save click')">Save</button>
	</div>
</ng-template>

<button class="btn btn-lg bg-primary text-white mb-2" (click)="open(content)">+ Add new inventory</button>