<div class="d-flex flex-row justify-content-between align-items-center">
    <div class="display-4 text-white">Cart</div>
    <button class="d-flex btn btn-lg bg-danger text-white mt-2">Clear</button>
</div>
<table class="table table-striped table-hover table-dark">
    <thead>
        <tr class="text-center">
            <!-- <th>#</th> -->
            <th>Name</th>
            <th class="col-price">Price</th>
            <th class="col-quantity">Quantity</th>
        </tr>
    </thead>
    
    <tbody class="table-group-divider">
        <tr *ngFor="let item of inCart" class="align-middle">
            <td>{{item.name}}</td>
            <td class="text-end">{{item.computedPrice | currency: 'PHP'}}</td>
            <td class=" text-center">
                <button class="btn bg-danger text-white py-1 px-2">━</button>
                <span class="px-3">{{item.quantity}}</span>
                <button class="btn bg-success text-white py-1 px-2">✚</button>
            </td>
        </tr>
    </tbody>
</table>