<div class="d-flex flex-row justify-content-between align-items-center">
    <div class="display-4 text-white">Cart</div>
    <button class="d-flex btn btn-lg bg-danger text-white mt-2" (click)="openClearModal(clear)">
        Clear 
    </button>
</div>
<table class="table table-striped table-hover table-dark">
    <thead>
        <tr class="text-center">
            <!-- <th>#</th> -->
            <th>Name</th>
            <th class="col-price">Price</th>
            <th class="col-quantity">Quantity</th>
        </tr>
    </thead>
    
    <tbody class="table-group-divider">
        <tr *ngFor="let item of inCart" class="align-middle">
            <td>
                <button class="btn bg-danger text-white p-0 px-1 pt-1" (click)="removeItem(item.id)">
                    <i class="material-icons m-0">close</i>
                </button>
                {{item.name}}
            </td>
            <td class="text-end">{{item.computedPrice | currency: 'PHP'}}</td>
            <td class=" text-center">
                <button class="btn bg-danger text-white p-0 px-1 pt-1" (click)="clickDecrement(item)">
                    <i class="material-icons m-0">remove</i>
                </button>
                <span class="px-3">{{item.quantity}}</span>
                <button class="btn bg-success text-white p-0 px-1 pt-1" (click)="clickIncrement(item)">
                    <i class="material-icons">add</i>
                </button>
            </td>
        </tr>
        <tr *ngIf="totalQty==0">
            <td colspan="4" class="text-center">No items in cart</td>
        </tr>
    </tbody>

    
    <tfoot class="table-group-divider" *ngIf="totalQty > 0">
        <tr>
            <td class="text-end">Total Price</td>
            <td class="text-end">{{totalPrice | currency: 'PHP'}}</td>
            <td class="text-center">{{totalQty}} {{totalQty > 1 ? 'items' : 'item'}}</td>
        </tr>
        <tr>
            <button class="btn btn-lg bg-success text-white p-2 w-100 mt-2" (click)="placeOrder()">
                <h3 class="m-0">Place Order</h3>
            </button>
        </tr>
    </tfoot>
</table>


<ng-template #clear let-modal class="pb-5">
	<div class="modal-header border-0">
	</div>
	<div class="modal-body">
        <span >
            <h4>
                Are you sure you want to <span class="delete-highlight">clear the cart</span>?
            </h4> 
        </span>
	</div>
	<div class="modal-footer border-0">
        <button type="submit" form="addForm" class="btn btn-lg btn-secondary" 
            (click)="modal.dismiss()" ngbAutofocus>Cancel</button>
        <button class="btn btn-lg btn-outline-danger" 
        (click)="clearCart(); modal.close()"
        >Clear Cart</button>
	</div>
</ng-template>